//accomodations.html
.box-item {
    height: 300px !important;
    width: 100% !important;
    overflow: hidden !important;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0px 0px 10px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #1a7e6f;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1e9382;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #1a7e6f;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #16695c;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #1a7e6f;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 3px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 15px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #1a7e6f;
}

input[type=range]:focus::-ms-fill-upper {
    background: #1e9382;
}

//guide_register.hmtl, tourist_register.html


#login_register .wrapper .form .inputs input{
    width: 100% !important;
}

.guide-register-section,
.tourist-register-section {
    input,
    select {
        width: 100% !important;
    }
}

input[type="file"] {
    padding: 10px 15px !important;
}

.select2-selection__rendered {
    background-color: #f7f7f7;
}

.select2-container--default .select2-selection--multiple {
    background-color: transparent;
    border: 1px solid #dfdfdf;
    height: auto !important;
}

.select2-search__field {
    height: 40px !important;
    border: none !important;
    margin: 0px !important;
    padding: 0px 5px !important;
    background-color: #f7f7f7 !important;
}
.select2-selection--multiple {
    border: 1px solid #dfdfdf !important;
    background-color: #f7f7f7 !important;
}

select.form-control {
    background-color: transparent !important;
    height: 46px !important;
}

.select2-selection__rendered {
    height: 100%;
}

.custom-container {
    width: 80%;
    margin: auto;
}

//show and hide password buttons
button.view,
button.view_confrim {
    background-color: #F7F7F7;
    border: 1px solid #DFDFDF;
    border-left: none;
}

//list-style-type: dashed
ul.dashed {
    font-family: Averta;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
}

ul.dashed>li:before {
    content: "-";
    margin-right: 30px;
}

//accomodations page price slider:
.ui-slider-range{
    background-color: #1A7F70;
}
.price-range-slider .item_header{
    padding: 10px 0px !important;
}

//driver_register.html
.select2-selection--single{
    height: 46px !important; 
    padding: 8px 10px;
}
.select2-selection__rendered{
    color: #000;
}
.select2-selection__arrow{
    display: none;
}
.select2-selection--single {
    border: 1px solid #dfdfdf !important;
    background-color: #f7f7f7 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #E5E5E5 !important;
    color: black !important;
}
.custom-offers-container{
    padding: 0;
    margin: auto;
    width: 80%;
}
.custom-offers-container label{
    font-family: Averta;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

#swiper_popular_attractions_locations .swiper-slide a{
    color: black;
}

#swiper_popular_attractions_locations .swiper-slide a:hover{
    text-decoration: none;
}

//custom small navigation bar for mobile devices
.small-menu nav{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.right-side-nav{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.right-side-nav button{
    margin: 5px;
}
.small-menu i{
    font-size: 2em;
    cursor: pointer;
    padding-top: 25px;
}
.small-menu i:hover{
    transition: .3s ease;
    color: rgb(0,128,114);
}
.sub-menu{
    display: none;
}
.sub-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
}
.sub-menu ul li a{
    text-decoration: none;
    font-family: Averta;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    display: block;
    padding: 14px 0px;
}
.sub-menu ul li a:hover{
    transition: .3s ease;
    color: rgb(0,128,114);    
}

.small-menu{
    display: none;
}

#login_register .wrapper .form .InputGroup{
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}

// #login_register .wrapper .form .InputGroup label{
//     width: 30% !important;
//     margin: 10px auto;
// }

#login_register .wrapper .form .submit_reg{
    width: 100% !important;
    margin: auto;
}

.enabled-select{
    background-color: white !important;
    cursor: pointer;
}
.routeSelect{
    width: 100% !important;
    padding: 8px !important;
}


.sub-menu {
    transition: height .3s ease;
    overflow: hidden;
}
.sub-menu:not(.d-block) {
    display: none;
}