@media screen and (max-width: 900px){
    //common
    .pagination{
        display: flex;
        justify-content: center;
    }
    .small-menu{
        display: block;
    }

    .menu, .center-header .buttons{
        display: none;
    }
    //index.html
    .start_your_journey_bottom{
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .start_your_journey_bottom input, .start_your_journey_bottom button{
        width: 90% !important;
        margin: 10px 0px !important;
    }
    .swiper_most_popular_drivers_top, .swiper_popular_attractions_locations_top, .swiper_our_offers_partners_top{
        width: 90%;
        margin: 20px auto !important;
        display: flex; 
        justify-content: center;
        align-items: center;
    }
    h6{
        margin: 0;
    }

    #swiper_most_popular_drivers, #swiper_popular_attractions_locations, .swiper_our_offers_partners_bottom, .swiper_our_offers_partners_bottom_item, .swiper_latest_tourists_reviews_bottom{
        width: 90%;
        margin: auto;
    }
    .swiper-slide, .swiper-slide-active{
        margin: 10px 0;
    }
    
    .mursheed_app_left{
        text-align: center;
    }
    .site-map{
        margin-top: 25px;
    }

    //flightreservation.html
    .aviacompany{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
    }
    .aviacompany_img{
        width: 20%;
        margin-right: 20px;
    }
    .flight_details .buttons button{
        width: 100%;
        margin: auto;
    }

    //driver_details.html
    .about_driver_info_left{
        justify-content: center;
        margin-top: 10px;
    }

    //driver_register.html
    .actions{
        display: flex !important;
        justify-content: center;
    }   
    .actions ul{
        padding: 0;
    }
    .custom-container .col-md-12{
        padding: 0;
    }
    #login_register .col-md-8 .wrapper{
        padding: 0 !important;
    }

    #login_register div.form{
        width: 80%;
        margin: auto;
    }

    .wizard > .content > .body{
        position: static;
    }
    
    //register pages

    button.view, button.view_confrim{
        position: absolute;
        right: 1px;
        bottom: 0;
        top: 0;
        min-width: 10px !important;
        border-right: none;
        padding: 0 10px;
    }

    #guides_drivers .content .body .person_details{
        flex-direction: column;

        .buttons button{
            margin: 5px;
        }
    }
    
    #login_register .wrapper .form .InputGroup{
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        flex-direction: column;
    }
    #login_register .wrapper .form .InputGroup label{
        width: 100% !important;
        margin: 10px auto;
    }

    #login_register .wrapper .form .submit_reg{
        width: 100% !important;
        margin: auto;
    }

    #tourist-journey-table{
        margin-right: 20px;
    }
}


